<nav class="navbar" *transloco="let t; read: 'navbar'">
  <div class="nav-container limit-width">
    <div class="logo">ReadQuik</div>
    <div class="link-container">
      <a class="navbar-link" routerLink="exercises" routerLinkActive="active">{{
        t("exercises")
      }}</a>
      <a class="navbar-link" routerLink="library" routerLinkActive="active">{{
        t("library")
      }}</a>
      <a class="navbar-link" routerLink="progress" routerLinkActive="active">{{
        t("progress")
      }}</a>

      <div class="user" (click)="dropdownOpened.set(!dropdownOpened())">
        <div class="username">{{ username }}</div>
        <div class="user-circle">{{ username[0].toUpperCase() }}</div>
      </div>

      @if (dropdownOpened()) {
        <div class="dropdown-panel user-dropdown">
          <section class="dropdown-header">
            <div class="user-circle">{{ username[0].toUpperCase() }}</div>
            <div class="username">{{ username }}</div>
          </section>
          <section class="dropdown-options">
            <!-- <div class="option">
            <img
              class="svg small"
              src="./assets/images/cog-8-tooth.svg"
              alt="cog"
              />
            <div>{{ t("settings") }}</div>
          </div> -->
          <div
            class="option"
            routerLink="auth/login"
            (click)="authService.logout()"
            >
            <img
              class="svg small"
              src="./assets/images/arrow-left-on-rectangle.svg"
              alt="arrow-left"
              />
            <div>{{ t("logout") }}</div>
          </div>
        </section>
      </div>
    }
    <div>
      <span class="lang" (click)="changeLang('Polish')">{{
        flagList()["Polish"]
      }}</span>
      <span class="lang" (click)="changeLang('English')">{{
        flagList()["English"]
      }}</span>
    </div>
  </div>
</div>
</nav>
