@import "variables";

.exercise {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .number {
    margin-bottom: $spacing-05;
  }

  .repetition-info {
    font-size: 14px;
  }

  .title {
    font-size: 22px;
    font-weight: 600;
    margin: $spacing-06 auto $spacing-07;
    max-width: 350px;
  }

  .learn-more {
    margin-top: $spacing-04;
  }

  .start-button {
    align-self: center;
    margin-top: auto;
  }
}
