<section class="exercise center" *transloco="let t">
  <h2 class="number">{{ t('exercise') }} {{ exerciseNumber }}</h2>
  <repetition-indicator
    [totalCount]="levelsAvailable"
    [activeCount]="repetitions()"></repetition-indicator>
  <div class="repetition-info">
    {{
      isExerciseUnlocked()
        ? '#' + (repetitions() + 1) + ' of ' + levelsAvailable
        : t('willNotSave')
    }}
  </div>

  <ng-container *transloco="let t; read: 'exerciseTitles'">
    <h1 class="title">{{ t('exercise' + exerciseNumber) }}</h1>
  </ng-container>

  <advice></advice>

  <div class="button-container learn-more">
    <button class="secondary" (click)="openInstructions()">
      {{ t('instructionsButton') }}
    </button>
  </div>

  @if (instructionsOpened) {
    <app-dialog (close)="closeInstructions()">
      <instruction
        content
        [instructionNumber]="exerciseNumber"
        [instructionKeys]="instructionKeys"></instruction>
    </app-dialog>
  }

  @if (isTextLoaded) {
    <button class="primary start-button" (click)="startedExercise.emit()">
      {{ t('start') }}
    </button>
  }
</section>
