<app-dialog
  (close)="state.exit$.next()"
  *ngIf="state.currentExercise$ | async as exNum"
  [style.font-size.px]="exNum < 5 ? 18 : 16"
>
  <router-outlet content></router-outlet>
  <ng-container footer *transloco="let t">
    <div class="progress-bar" *ngIf="exNum < 7" [style.width]="state.progressPercent + '%'"></div>
    <button
      class="secondary"
      *ngIf="state.exerciseMode === 'manual'"
      (click)="handleClick()"
      (keydown.space)="$event.preventDefault()"
    >
      {{ t('nextPhrase') }}
    </button>
  </ng-container>
</app-dialog>
