@import "variables";

.add-book {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: $spacing-03 $spacing-05;

  .back {
    border-radius: 20px;
    margin-right: auto;
    padding: $spacing-02;
  }

  .page-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: $spacing-05;
  }

  text-input-with-validation {
    margin-bottom: $spacing-05;
    width: 300px;
  }

  .flex-container {
    display: flex;
    align-items: center;
    gap: $spacing-04;
  }

  .tags {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $spacing-04;

    pill {
      margin: $spacing-01;
    }
  }

  .select {
    border: 1px solid $neutral-400;
    border-radius: 8px;
    color: $neutral-900;
    background-color: #fff;
    margin-bottom: $spacing-04;

    &.small {
      padding: 6px $spacing-03;
      font-size: 14px;
    }

    &.medium {
      padding: $spacing-03 $spacing-04;
      font-size: 15px;
    }

    &.large {
      padding: 12px 16px;
      font-size: 16px;
    }
  }
}
