@import "variables";

.add-book {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: $spacing-03 $spacing-05;

  .back {
    border-radius: 20px;
    margin-right: auto;
    padding: $spacing-02;
  }

  .page-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: $spacing-05;
  }

  text-input-with-validation {
    margin-bottom: $spacing-05;
    width: 300px;
  }

  .flex-container {
    display: flex;
    align-items: center;
    gap: $spacing-04;
  }

  .tags {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: $spacing-04;

    pill {
      margin: $spacing-01;
    }
  }
}

.select {
  margin-bottom: $spacing-04;
}