@import '../../../../../../variables';
@import '../../exercises.module.scss';

.exercise4 {
  text-align: left;
  display: flex;
  flex-wrap: wrap;

  .phrase {
    margin-right: 5px;
  }

  .original {
    white-space: pre-wrap;
  }

  .text {
    position: relative;
  }
}
