<div class="exercise4">
  <div class="original text" [style.top.px]="state.pageYPosition">
    <ng-container *ngFor="let phrase of state.bookFragments; index as i">
      <ng-container *ngIf="!textService.isNewline(phrase); else newline">
        <span
          class="phrase"
          [ngClass]="
            state.phraseNumber === getPhraseIndex(phrase)
              ? 'active'
              : 'inactive'
          "
          >{{ phrase }}</span
        >
      </ng-container>

      <ng-template #newline>
        <span class="phrase">{{ phrase }}</span>
      </ng-template>
    </ng-container>
  </div>
</div>
