@import '../../../../../../../variables';

.exercises-nav {
    margin: $spacing-07 0;

    .exercise-link {
      padding: 10px;
      margin: 0 8px;
      display: inline-block;
      width: 36px;
      height: 36px;

      &.active {
        background-color: $violet-600;
        border-radius: 50%;
        color: white;
        font-weight: bold;
      }
    }
  }