@import '../../../../../../variables';

.exercise3 {
  width: 500px;
  overflow: hidden;
  border: 1px solid $neutral-700;
  padding: 10px 0;
  white-space: nowrap;

  .inactive {
    color: $neutral-400; 
  }

  .active {
    color: $neutral-950;
  }

  .phrase {
    position: relative;
  }
}