@import '../../../../../../../variables';

.exercise-panel {
    background-color: white;
    width: 700px;
    height: 510px;
    z-index: $panel-z-index;
    position: relative;
    display: flex;
    flex-direction: column;

    .panel-header {
      // background-color: lightcoral;
      height: 50px;
      display: flex;

      .close-icon {
        width: 36px;
        height: 36px;
        margin-left: auto;
        margin-right: $spacing-04;
        cursor: pointer;
      }
    }

    .panel-content {
      // background-color: lightgreen;
      height: 100%;
      padding: 0 $spacing-05;
      overflow: hidden;
    }

    .panel-footer {
      margin-top: auto;
      padding: $spacing-06 0;
      // background-color: lightblue;
    }
  }