@import "variables";

.exercise-panel {
  background-color: white;
  width: $minimum-width;
  z-index: $panel-z-index;
  position: relative;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .panel-header {
    height: 50px;
    display: flex;

    .close-icon {
      width: 36px;
      height: 36px;
      margin-left: auto;
      margin-right: $spacing-03;
      margin-top: $spacing-03;
      cursor: pointer;
    }
  }

  .panel-content {
    height: calc(18 * $line-height);
    padding: 0 $spacing-05;
    overflow: hidden;
  }

  .panel-footer {
    margin-top: auto;
    padding: $spacing-06 0;
  }
}
