@import "variables";

.library {
  padding: $spacing-04;
  min-width: 860px;

  .book-list {
    display: grid;
    gap: $spacing-05;
    max-height: 490px;
    overflow-y: auto;
    padding-bottom: $spacing-05;
    
    $card-width: 340px;
    grid-template-columns: repeat(2, $card-width);

    @media (min-width: 1234px) {
      grid-template-columns: repeat(3, $card-width);
    }
  }
}
