<app-auth-panel [title]="t('signup')" *transloco="let t; read: 'auth'">
  <form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <text-input-with-validation
      [label]="t('email')"
      [control]="signupForm.controls['email']"
    ></text-input-with-validation>

    <text-input-with-validation
      [label]="t('username')"
      [control]="signupForm.controls['username']"
    ></text-input-with-validation>

    <text-input-with-validation
      inputType="password"
      [label]="t('password')"
      [control]="signupForm.controls['password']"
    ></text-input-with-validation>

    <button
      type="submit"
      class="continue-button"
      [class.disabled]="signupForm.invalid"
      [disabled]="signupForm.invalid"
    >
      {{ t("continue") }}
    </button>
    <div class="alt-info">
      {{ t("haveAnAccountQuestion") }}
      <a routerLink="/auth/login" class="alt-link">{{ t("logIn") }}</a>
    </div>
  </form>
</app-auth-panel>
