<div class="exercises">
  <div class="nav">
    <app-exercise-nav></app-exercise-nav>
  </div>
  <div class="content">
    <section class="book">
      <div class="header">
        <h2 class="title">
          {{ readingData()?.bookData?.title }}
        </h2>
        <div class="author">Władysław Reymont</div>
      </div>
      <div>
        <img
          class="cover"
          src="https://wolnelektury.pl/media/book/cover_clean/chlopi-czesc-pierwsza-jesien_972yckN.jpg"
          alt="cover"
        />
      </div>
      <div class="segment">
        <div>Segment:</div>
        <div class="choose">
          <input
            type="number"
            [value]="readingData()?.segment?.number"
            #segmentNumber
          />
          / 51
          <button
            (click)="
              state.bookService.getReadingData(
                readingData()?.bookData?._id || '',
                segmentNumber.valueAsNumber
              )
            "
          >
            Switch
          </button>
        </div>
      </div>
      <!-- <div class="change-button"> -->
        <button class="secondary change-button">Change Book</button>
      <!-- </div> -->
    </section>

    <section class="exercise center">
      <h2 class="number">Exercise 1</h2>
      <div class="repetition-indicator">
        <div class="circle active"></div>
        <div *ngFor="let i of [].constructor(9)" class="circle"></div>
      </div>
      <div class="repetition-info">#1 of 10</div>

      <h1 class="title">Stationary phrases</h1>

      <div class="advice">
        <span class="highlight">Visualize</span> what you read
      </div>
      <div class="advice">
        Focus on <span class="highlight">comprehension</span>
      </div>
      <div class="advice">
        Think in <span class="highlight">ideas</span> not words
      </div>

      <div class="button-container learn-more">
        <button class="secondary">Learn more</button>
      </div>

      <button
        class="primary start-button"
        *ngIf="!state.started && (state.bookService.wordPhrases$ | async)"
        (click)="state.start()"
      >
        start
      </button>

      <ng-container *ngIf="state.started">
        <div class="exercises-overlay">
          <app-exercise-panel>
            <router-outlet></router-outlet>
          </app-exercise-panel>
        </div>
      </ng-container>
    </section>

    <section class="recents">
      <h2 class="center title">Recent Results</h2>
      <div class="result">
        <div class="main">
          <div class="speed">343 wpm</div>
          <div class="percent positive">+10%</div>
        </div>
        <div class="date">Today</div>
      </div>
      <div class="result">
        <div class="main">
          <div class="speed">280 wpm</div>
          <div class="percent negative">-8%</div>
        </div>
        <div class="date">Yesterday</div>
      </div>
      <button class="secondary progress-button">Check full progress</button>
    </section>
  </div>
</div>
