@import "../../../../../../variables";

.exercises {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .exercises-overlay {
    position: absolute;
    background: rgba($neutral-950, 0.7);
    inset: 0;
  }
}
