<app-auth-panel title="Sign up">
  <form class="form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="input-container">
      <label for="email" class="input-label">Email</label>
      <input
        type="email"
        name="email"
        class="input"
        [class.error]="isInputInvalid('email')"
        formControlName="email"
        required
      />
      <div *ngIf="showError('email', 'required')" class="error-info">
        Email is required.
      </div>
      <div *ngIf="showError('email', 'pattern')" class="error-info">
        Please enter valid email
      </div>
    </div>
    <div class="input-container">
      <label for="username" class="input-label">Username</label>
      <input
      type="username"
      name="username"
      class="input"
      [class.error]="isInputInvalid('username')"
      formControlName="username"
      required
      />
      <div *ngIf="showError('username', 'required')" class="error-info">
        Username is required.
      </div>
      <div class="error-info" *ngIf="showError('username', 'minlength')">
        Username must have at least 2 characters.
      </div>
      <div class="error-info" *ngIf="showError('username', 'maxlength')">
        Username must not exceed 20 characters.
      </div>
      <div class="error-info" *ngIf="showError('username', 'pattern')">
        Username must contain only letters and numbers.
      </div>
    </div>
    <div class="input-container">
      <label for="password" class="input-label">Password</label>
      <input
        type="password"
        name="password"
        class="input"
        [class.error]="isInputInvalid('password')"
        formControlName="password"
        required
      />
      <div *ngIf="showError('password', 'required')" class="error-info">
        Password is required.
      </div>
      <div *ngIf="showError('password', 'minlength')" class="error-info">
        Password should be at least 8 characters
      </div>
      <div *ngIf="showError('password', 'pattern')" class="error-info">
        Your password contains forbidden characters
      </div>
    </div>

    <button type="submit" class="continue-button" [class.disabled]="signupForm.invalid" [disabled]="signupForm.invalid">Continue</button>
    <div class="alt-info">
      Already have an account?
      <a routerLink="/auth/login" class="alt-link">Log in</a>
    </div>
  </form>
</app-auth-panel>
