<div class="exercise4">
  <div class="text" [style.top.px]="pageYPosition()">
    <!-- TODO: make shared component for this exercise and ex7 -->
    @for (phrase of phrasesWithNewlines(); track $index) { 
      @if (!textService.isNewline(phrase)) {
        <span
          class="phrase"
          [ngClass]="
            wordIndexes[flowService.phraseNumber()] === $index
              ? 'active'
              : 'inactive'
          "
          >{{ phrase }}</span
        >
      } @else {
        <br>
      }
    }
  </div>
</div>
