@import 'variables';

.exercise4 {
  text-align: left;
  display: flex;
  flex-wrap: wrap;

  br {
    line-height: $line-height;
  }

  .phrase {
    margin: 2px 3px 2px;
    display: inline-block;
  }

  .text {
    position: relative;
  }
}
