@import "variables";

.exercises {
  padding: $spacing-03 $spacing-07;

  .nav {
    text-align: center;
  }

  h2 {
    font-size: 18px;
    font-weight: 600;
  }

  .content {
    display: flex;
    justify-content: space-around;
    height: 100%;
  }

  .book,
  .recents {
    width: 300px;
  }

  .book {
    .header {
      margin-bottom: $spacing-05;
    }

    .title {
      text-align: left;
      margin-bottom: $spacing-01;
    }

    .author {
      font-size: 14px;
      color: $neutral-500;
    }

    .cover {
      height: 200px;
      margin-bottom: $spacing-04;
    }

    .segment {
      input {
        width: 45px;
      }

      .label {
        margin-bottom: $spacing-02;
      }

      margin-bottom: $spacing-03;
    }

    .switch-button {
      display: block;
      margin-top: $spacing-04;
    }

    .change-button {
      margin-top: $spacing-04;
      width: 100%;
    }
  }

  .exercise {
    width: 100%;
    display: flex;
    flex-direction: column;

    .number {
      margin-bottom: $spacing-05;
    }

    .repetition-indicator {
      display: flex;
      justify-content: center;
      gap: $spacing-04;
      margin-bottom: $spacing-03;
    }

    .circle {
      width: 10px;
      height: 10px;
      border: 1px solid $violet-500;
      border-radius: 50%;

      &.active {
        background-color: $violet-500;
      }
    }

    .repetition-info {
      font-size: 14px;
    }

    .title {
      font-size: 22px;
      font-weight: 600;
      margin: $spacing-06 auto $spacing-07;
      max-width: 350px;
    }

    .learn-more {
      margin-top: $spacing-04;
    }

    .start-button {
      align-self: center;
      margin-top: auto;
    }
  }

  .recents {
    display: flex;
    flex-direction: column;

    .title {
      margin-bottom: $spacing-04;
    }

    .result {
      margin-bottom: $spacing-05;
    }

    .main {
      display: flex;
      margin-bottom: $spacing-02;

      .speed {
        font-weight: 600;
      }

      .percent {
        margin-left: auto;

        &.positive {
          color: $green-500;
        }

        &.negative {
          color: $red-800;
        }
      }
    }

    .date {
      font-size: 14px;
      color: $neutral-500;
    }

    .progress-button {
      margin-top: auto;
    }
  }

  .exercises-overlay {
    position: absolute;
    background: rgba($neutral-950, 0.7);
    inset: 0;
  }
}
