<div class="exercises" *transloco="let t">
  <div class="nav">
    <exercise-nav></exercise-nav>
  </div>
  <div class="content">
    <section class="book">
      <ng-container *ngIf="state.bookService.bookData$ | async as book">
        <div class="header">
          <h2 class="title">
            {{ book.title }}
          </h2>
          <div class="author">{{ book.author }}</div>
        </div>
        <div>
          <img class="cover" [src]="book.coverUrl" alt="cover" />
        </div>
        <div
          class="segment"
          *ngIf="state.bookService.segmentData$ | async as segment"
        >
          <div class="label">Segment:</div>
          <div class="choose">
            <input
              type="number"
              class="input small"
              [value]="segment.number"
              #segmentNumber
            />
            / {{ book.totalSegments }}
            <button
              class="small ternary switch-button"
              (click)="
                state.bookService.getReadingData(
                  book._id || '',
                  segmentNumber.valueAsNumber
                )
              "
            >
              {{ t("switch") }}
            </button>
          </div>
        </div>
      </ng-container>
      <button routerLink="/library" class="secondary change-button">
        {{ t("changeBook") }}
      </button>
    </section>

    <section class="exercise center" *ngIf="state.currentExercise">
      <h2 class="number">{{ t("exercise") }} {{ state.currentExercise }}</h2>
      <div class="repetition-indicator">
        <div class="circle active"></div>
        <div *ngFor="let i of [].constructor(9)" class="circle"></div>
      </div>
      <div class="repetition-info">#1 of 10</div>

      <h1 class="title">{{ exerciseTitles[state.currentExercise] }}</h1>

      <div class="advice">
        <span class="highlight">Visualize</span> what you read
      </div>
      <div class="advice">
        Focus on <span class="highlight">comprehension</span>
      </div>
      <div class="advice">
        Think in <span class="highlight">ideas</span> not words
      </div>

      <div class="button-container learn-more">
        <button class="secondary">{{ t("learnMore") }}</button>
      </div>

      <button
        class="primary start-button"
        *ngIf="!state.started && (state.bookService.wordPhrases$ | async)"
        (click)="state.start()"
      >
        {{ t("start") }}
      </button>

      <ng-container *ngIf="state.started && state.currentExercise">
        <div
          [style.font-size.px]="state.currentExercise < 5 ? 18 : 16"
          class="exercises-overlay"
        >
          <app-exercise-panel>
            <router-outlet></router-outlet>
          </app-exercise-panel>
        </div>
      </ng-container>
    </section>

    <section class="recents">
      <h2 class="center title">{{ t("recentResults") }}</h2>
      <ng-container
        *ngIf="resultsService.recentResults$ | async as recentResults"
      >
        <div class="result" *ngFor="let result of recentResults">
          <div class="main">
            <div class="speed">{{ result.wpm }} wpm</div>
            <div
              class="percent"
              [ngClass]="result.percentDiff >= 0 ? 'positive' : 'negative'"
            >
              {{ result.percentDiff | percent }}
            </div>
          </div>
          <div class="date">{{ result.date | relativeDate }}</div>
        </div>
      </ng-container>
      <button class="secondary progress-button">
        {{ t("checkFullProgress") }}
      </button>
    </section>
  </div>
</div>
