@import "variables";

.exercises {
  padding: $spacing-03 $spacing-07;

  .nav {
    text-align: center;
  }

  .content {
    display: flex;
    justify-content: space-between;
    height: 100%;
  }

  .exercises-overlay {
    position: absolute;
    background: rgba($neutral-950, 0.7);
    inset: 0;
  }
}
