<div class="exercises" *transloco="let t">
  <div class="nav">
    <exercise-nav
      [totalUnlocked]="progressState.unlockedExercisesCount()"
    ></exercise-nav>
  </div>
  <div class="content">
    <book-info
      [book]="bookService.currentBookData()"
      [segment]="bookService.segmentData()"
      (changedSegment)="readingDataService.changeSegmentAction$.next($event)"
    ></book-info>

    <exercise-info
      [exerciseNumber]="exerciseNumber()"
      [repetitions]="progressState.currentExerciseRepetitions() ?? 0"
      [isExerciseUnlocked]="progressState.isCurrentExerciseUnlocked()"
      [isTextLoaded]="bookService.wordPhrases().length > 0"
      (instructionsOpened)="
        instructionService.openInstructionsAction$.next(true)
      "
      (startedExercise)="flowService.startExerciseAction$.next()"
    ></exercise-info>
    <app-dialog
      (close)="instructionService.openInstructionsAction$.next(false)"
      *ngIf="instructionService.instructionsOpened()"
    >
      <instruction
        *ngIf="
          instructionService.currentInstructionObject() as instructionObject
        "
        content
        [instructionNumber]="exerciseNumber()"
        [instructionObject]="instructionObject"
      ></instruction>
    </app-dialog>

    <exercise-panel *ngIf="flowService.exerciseOpened()"></exercise-panel>

    <recent-results
      [recentResults]="resultsService.recentResults"
    ></recent-results>
  </div>
</div>
