<div class="exercise7">
  <div class="text" [style.top.px]="state.pageYPosition">
    <ng-container
      *ngFor="let phrase of bookService.phrasesWithNewlines(); index as i"
    >
      <ng-container *ngIf="!textService.isNewline(phrase); else newline">
        <span
          class="phrase"
          [ngClass]="i % 2 === 0 ? 'strong' : ''"
          [class.active]="
            wordIndexes[state.phraseNumber()] === i &&
            state.exerciseMode === 'auto'
          "
          >{{ phrase }}</span
        >
      </ng-container>

      <ng-template #newline>
        <br />
      </ng-template>
    </ng-container>
  </div>
</div>
