<div class="exercise7">
  <div class="text" [style.top.px]="pageYPosition()">
    @for (phrase of phrasesWithNewlines(); track $index) { 
      @if (!textService.isNewline(phrase)) {
        <span
          class="phrase"
          [ngClass]="$index % 2 === 0 ? 'strong' : ''"
          [class.active]="
            wordIndexes[phraseNumber] === $index &&
            exerciseMode === 'auto'
          "
          >{{ phrase }}
        </span>
      } @else {
        <br>
      }
    }
  </div>
</div>
