<div class="exercise7">
  <div class="text" #text [style.top.px]="pageYPosition()">
    @for (phrase of phrasesWithNewlines(); track $index) {
      @if (!isNewline(phrase)) {
        @if (wordIndexes[phraseNumber] === $index && exerciseMode === 'auto') {
          <span
            #activePhrase
            class="phrase active"
            [ngClass]="$index % 2 === 0 ? 'strong' : ''">
            {{ phrase }}
          </span>
        } @else {
          <span class="phrase" [ngClass]="$index % 2 === 0 ? 'strong' : ''">
            {{ phrase }}
          </span>
        }
      } @else {
        <br />
      }
    }
  </div>
</div>
