@import 'variables';

.main {
  .navbar {
    width: 100vw;
    height: $spacing-10;
    background-color: $neutral-50;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(black, 12%);

    .navbar-link {
      padding: 0 $spacing-04;
    }
  }
}