<app-auth-panel [title]="t('logIn')" *transloco="let t; read: 'auth'">
  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <text-input-with-validation
      [label]="t('email')"
      [control]="loginForm.controls['email']"
    ></text-input-with-validation>

    <text-input-with-validation
      inputType="password"
      [label]="t('password')"
      [control]="loginForm.controls['password']"
    ></text-input-with-validation>

    <button
      type="submit"
      class="continue-button"
      [class.disabled]="loginForm.invalid"
      [disabled]="loginForm.invalid"
    >
      {{ t("continue") }}
    </button>
    <div class="alt-info">
      {{ t("dontHaveAnAccountQuestion") }}
      <a routerLink="/auth/signup" class="alt-link">{{ t("signup") }}</a>
    </div>
  </form>
</app-auth-panel>
