@import 'variables';

.chart-section {
  display: flex;

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $spacing-06;
    margin-left: $spacing-06;
  }

  .no-data {
    width: 700px;
  }
}
