<ng-container *transloco="let t">
  <ng-container
    *ngIf="{
      points: points$ | async,
      regressionPoints: regressionPoints$ | async
    } as vm"
  >
    <section class="chart-section">
      <chart
        *ngIf="
          vm.points && vm.points.length > 0 && vm.regressionPoints;
          else noDataTemplate
        "
        [dataPoints]="vm.points"
        [regressionPoints]="vm.regressionPoints"
      ></chart>

      <div class="buttons">
        <button
          [ngClass]="timeSpan$.value === 'all' ? 'primary' : 'secondary'"
          (click)="timeSpan$.next('all')"
        >
          {{ t("allTime") }}
        </button>
        <button
          [ngClass]="timeSpan$.value === 'week' ? 'primary' : 'secondary'"
          (click)="timeSpan$.next('week')"
        >
          {{ t("last7days") }}
        </button>
        <button
          [ngClass]="timeSpan$.value === 'day' ? 'primary' : 'secondary'"
          (click)="timeSpan$.next('day')"
        >
          {{ t("today") }}
        </button>
      </div>
    </section>

    <ng-template #noDataTemplate>
      <div class="no-data">
        {{ t("noData") }}
      </div>
    </ng-template>
  </ng-container>
</ng-container>
