<section class="chart-section" *transloco="let t">
  @if (points().length > 0) {
    <chart
      [dataPoints]="points()"
      [regressionPoints]="regressionPoints()"></chart>
  } @else {
    <div class="no-data">
      {{ t('noData') }}
    </div>
  }
  <div class="buttons">
    <button
      [ngClass]="timeSpan() === 'all' ? 'primary' : 'secondary'"
      (click)="updateTimeSpan('all')">
      {{ t('allTime') }}
    </button>
    <button
      [ngClass]="timeSpan() === 'week' ? 'primary' : 'secondary'"
      (click)="updateTimeSpan('week')">
      {{ t('last7days') }}
    </button>
    <button
      [ngClass]="timeSpan() === 'day' ? 'primary' : 'secondary'"
      (click)="updateTimeSpan('day')">
      {{ t('today') }}
    </button>
  </div>
</section>
