<div class="container">
  <div class="login-panel">
    <h1 class="title">Log in</h1>

    <form class="form">
      <div class="input-container">
        <label for="email" class="input-label">Email</label>
        <input type="email" name="email" class="login-input" required />
      </div>
      <div class="input-container">
        <label for="password" class="input-label">Password</label>
        <input type="password" name="password" class="login-input" required />
      </div>

      <button class="continue-button">Continue</button>
      <div class="signup-info">Don't have an account? <span class="signup">Sign up</span></div>
      
    </form>

  </div>
</div>
