/* You can add global styles to this file, and also import other style files */
@import './reset.scss';
@import './variables.scss';

// font import
@import url('https://fonts.googleapis.com/css2?family=Ramaraja&display=swap');

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sansita';
  src: url('./assets/fonts/Sansita/Sansita-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: 'Roboto';
}

button {
  border: none;
  border-radius: 12px;
  padding: $spacing-04 $spacing-06;
  cursor: pointer;
  
  &.primary {
    background-color: $violet-600;
    color: white;
    font-weight: 600;
  }

  &.secondary {
    background-color: $neutral-200;
  }
}

.svg {
  &.small {
    height: 20px;
  }
}

.shadow-primary {
  box-shadow: 0 4px 4px rgb(black, 25%);
}