@import "./reset.scss";
@import "./variables.scss";
@import "./fonts";

body {
  font-family: "Roboto";
}

button {
  border: none;
  border-radius: 12px;
  padding: $spacing-04 $spacing-06;
  cursor: pointer;

  &.primary {
    background-color: $violet-600;
    color: white;
    font-weight: 600;
  }

  &.secondary {
    background-color: $violet-100;
    color: $violet-900;
  }
}

.svg {
  &.small {
    height: 20px;
  }
}

.shadow-primary {
  box-shadow: 0 4px 4px rgb(black, 25%);
}

.limit-width {
  width: 80%;
  max-width: 1200px;
  min-width: $minimum-width;
}

.center {
  text-align: center;
}
