@import "./reset.scss";
@import "./variables.scss";
@import "./fonts";

body {
  font-family: "Roboto";
}

button {
  border: none;
  border-radius: 12px;
  padding: $spacing-04 $spacing-06;
  cursor: pointer;

  &.primary {
    background-color: $violet-600;
    color: white;
    font-weight: 600;
  }

  &.secondary {
    background-color: $violet-100;
    color: $violet-900;
  }
}

.svg {
  &.small {
    height: 20px;
  }
}

.shadow-primary {
  box-shadow: 0 4px 4px rgb(black, 25%);
}

.limit-width {
  width: 80%;
  max-width: 1200px;
  min-width: $minimum-width;
}

.center {
  text-align: center;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;

  .input-label {
    color: $neutral-500;
    margin-bottom: 12px;
    font-size: 12px;
    align-self: start;
  }

  .error-info {
    color: red;
    font-size: 12px;
    margin-top: 4px;
  }

  .input {
    padding: 12px 16px;
    border: 1px solid $neutral-400;
    border-radius: 8px;
    font-size: 16px;
    color: $neutral-900;

    &.error {
      border-color: red;
    }
  }
}
