@if (errors(); as errors) {
  <ng-container *transloco="let t; read: 'validationErrors'">
    @if (errors['required']) {
      <div class="error-info">
        {{ t('requiredField') }}
      </div>
    }
    @if (errors['email']) {
      <div class="error-info">
        {{ t('invalidEmail') }}
      </div>
    }
    @if (errors['minlength']) {
      <div class="error-info">
        {{ t('minLength') + errors['minlength'].requiredLength }}
      </div>
    }
    @if (errors['maxlength']) {
      <div class="error-info">
        {{ t('maxLength') + errors['maxlength'].requiredLength }}
      </div>
    }
    @if (errors['forbiddenCharacters']) {
      <div class="error-info">
        {{ t('forbiddenCharacters') }}
      </div>
    }
  </ng-container>
}
