@import 'variables';

.exercises-nav {
    margin: $spacing-05 0;

    .exercise-link {
      padding: 10px;
      margin: 0 8px;
      display: inline-block;
      width: 36px;
      height: 36px;
      text-align: center;

      &.active {
        background-color: $violet-600;
        border-radius: 50%;
        color: white;
        font-weight: bold;
      }

      &.unlocked {
        font-weight: 600;
      }

      &.locked {
        color: $neutral-400;
      }
    }
  }